:root {
    --main-color: #1da1f2;
    --button-hover-color: #1a91da;
    --accent: #657786;
  }
  
  body {
    background-color: #000; /* 设置全局背景为黑色 */
    color: #fff; /* 设置全局文字颜色为白色 */
  }
  
  .featherIcon {
    @media only screen and (min-width: 1250px) {
      display: none;
    }
  }
  
  .title {
    margin-left: 15px;
    @media only screen and (max-width: 1250px) {
      display: none;
    }
  }
  
  a {
    text-decoration: none;
    color: #fff; /* 链接颜色设置为白色 */
  }
  
  .icon-links {
    display: grid;
    @media only screen and (max-width: 1200px) {
      grid-template-columns: 0.5fr;
      display: none;
    }
  }
  
  h2 {
    font-size: 22px;
    @media only screen and (max-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
    }
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
    width: 70%;
    color: #fff; /* 设置文字颜色为白色 */
  }
  
  h2:hover {
    background: #1da1f229;
    @media only screen and (max-width: 1200px) {
      background: transparent;
    }
  }
  
  button,
  button span {
    cursor: pointer;
    border-radius: 25px;
  }
  
  button {
    background-color: #fff; /* 白色背景 */
    border: 1px solid var(--main-color);
    color: var(--main-color); /* 文字颜色为蓝色 */
    font-weight: bold;
    padding: 5px 20px; 
  }
  
  button:focus {
    outline: none;
  }
  
  button span {
    display: block;
    padding: 0.4em 0.2em;
    transition: all 0.1s linear;
    font-size: 15px;
  }
  
  button:hover {
    background: var(--button-hover-color); /* 悬停时蓝色背景 */
    color: #fff; /* 悬停时文字颜色为白色 */
  }
  
  button:active span {
    background-color: rgba(0, 0, 0, 0.2);
    outline: 0;
  }
  
  button span:focus {
    outline: 0;
  }
  
  button:disabled {
    opacity: 0.5;
  }
